
.nav-bar{
    /*padding-left: 500px;*/
    font-size: 18px;
    background: linear-gradient(to right,  #bb3a3a, #5bd8d8,  #bb3a3a);
    line-height: 2.5;
    margin-bottom: 10px;
    margin-top: 50px;
}

.nav-bar-btn{
    display: flex;
    margin: 0% 0% 0% 50%;
    list-style: none;

}
.btn{
    a{
        text-decoration: none;
        padding: 10px;
        font-size: 20px;
        margin-right: 25px;
        color: black;
    }
}
.btn :hover{
    color: #fff;
    font-weight: bold;
    background: linear-gradient(to right,   #5bd8d8,  #bb3a3a);
    transition-duration: 0.2s;
}
.btn a :active{
    border-bottom: 2px solid #4edde2;;
}
